.form {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 2px 3px rgba(200, 200, 200, 0.6);
  width: 40%;
  margin: 30px auto;
  padding: 0.5%;
}

.formFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputText {
  border-radius: 8px;
  resize: none;
  padding: 8px;
  margin: 8px auto;
}

.title {
  border-radius: 8px;
  margin: 8px auto;
  padding: 8px;
  width: 335px;
}
