ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0px;
}

.deleteBtn {
  background-color: rgb(240, 127, 118);
  color: azure;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  font-weight: bold;
}

.divForList {
  padding: 0.5%;
  margin: 20px;
  margin-left: -40px;
}

.liElement {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 0.5%;
  margin: 10px 10% 0 10%;
  position: relative;
  box-shadow: 2px 3px rgba(200, 200, 200, 0.6);
}

.text {
  text-align: left;
  margin-left: 20px;
}

.delete {
  display: block;
  position: absolute;
  right: 0.5%;
  top: 5px;
}
